:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  place-items: center;
}


#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

button {
  border: none;
  color: #fff;
  background: none;
}


/* 入场动画 从左到右*/
.enter-from {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.enter-active {
  opacity: 1;
  transform: translateX(0);
}